@page
@model WikiAndSupport.Pages.ContactModel
@{
    ViewData["Title"] = "下载中心";
}
<p></p>
<ul>
    <li> @Html.ActionLink("Eas安装程序", "EASInstall.exe")</li>
    <li> @Html.ActionLink("函证程序", "HpInstall.exe")</li>
</ul>
